.postingDiv{
    background-color: ghostwhite;
    padding-bottom:3%;
    padding-left:5%;
    padding-right:5%;
    padding-top:3%;
    border-radius: 2rem;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    height: auto;
    white-space: normal;
    word-break: break-all;
  }
.postingDiv *{
    margin:0px;
    padding:0px;
}

#postingList li{
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#addButton{
    position: relative;
    border: 3px solid #a3a1a1;
    color: #6e6e6e;
    padding: 15px 30px;
    border-radius: 15px;
    font-family:sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    cursor: pointer;
    white-space: normal;
    word-break: break-all;
}
#addButton:hover {
    background-color: #a3a1a1;
    color: #e3dede;
}

.postingDiv:hover{
    letter-spacing: 2px;
    transform: scale(1.05);
    transition-duration: 0.5s;
}
/* 
.postingDiv button{
    float: right;      
    border: none;
    color: #6e6e6e;
    background-color: ghostwhite;
    padding: 0px;
    font-family:  sans-serif;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    cursor: pointer;
    white-space: normal;
    word-break: break-all;
} */

dialog button{
    float: right;      
    border: none;
    color: #6e6e6e;
    background-color: white;
    padding: 0px;
    margin-left: 10px;
    font-family:  sans-serif;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    cursor: pointer;
}
dialog button:hover{
    transform: scale(1.5);
    transition-duration: 0.1s;
}

dialog{
    width: 80%;
    height: 50%;
    height: 400px;
    border: 1rem solid;
    font-weight: 600;
    font-size: 1.5rem;
    color:#6e6e6e;
    border-radius: 2rem;
}
.webIcons{
    float: right;
    font-size: 2rem;
    margin-left: 1rem;
    cursor: pointer;
}
.webIcons:hover{
    color: #6e6e6e;
    transform: scale(1.5);
    transition-duration: 0.1s;
}

.textField{
    width : 100%;
    height : 30%;
}

.postingDiv button:hover{
    transform: scale(2);
    transition-duration: 0.1s;
}

.postingDate{
font-size: 1rem;
color: #6e6e6e;
text-align: end;
}
  
  /* cyrillic-ext */
  @font-face {
      font-family: 'EB Garamond';
      font-style: italic;
      font-weight: 400;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7e8QL9wU661hGFJRvzr2Q.woff) format('woff');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @font-face {
      font-family: 'EB Garamond';
      font-style: italic;
      font-weight: 400;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7e8QL95U661hGFJRvzr2Q.woff) format('woff');
      unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    @font-face {
      font-family: 'EB Garamond';
      font-style: italic;
      font-weight: 400;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7e8QL9xU661hGFJRvzr2Q.woff) format('woff');
      unicode-range: U+1F00-1FFF;
    }
    /* greek */
    @font-face {
      font-family: 'EB Garamond';
      font-style: italic;
      font-weight: 400;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7e8QL9-U661hGFJRvzr2Q.woff) format('woff');
      unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    @font-face {
      font-family: 'EB Garamond';
      font-style: italic;
      font-weight: 400;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7e8QL9yU661hGFJRvzr2Q.woff) format('woff');
      unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
      font-family: 'EB Garamond';
      font-style: italic;
      font-weight: 400;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7e8QL9zU661hGFJRvzr2Q.woff) format('woff');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
      font-family: 'EB Garamond';
      font-style: italic;
      font-weight: 400;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7e8QL99U661hGFJRvw.woff) format('woff');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    @font-face {
      font-family: 'EB Garamond';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGUmQSNjdsmc35JDF1K5GR4SDk_YAPIlWk.woff2) format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @font-face {
      font-family: 'EB Garamond';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGUmQSNjdsmc35JDF1K5GRxSDk_YAPIlWk.woff2) format('woff2');
      unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    @font-face {
      font-family: 'EB Garamond';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGUmQSNjdsmc35JDF1K5GR5SDk_YAPIlWk.woff2) format('woff2');
      unicode-range: U+1F00-1FFF;
    }
    /* greek */
    @font-face {
      font-family: 'EB Garamond';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGUmQSNjdsmc35JDF1K5GR2SDk_YAPIlWk.woff2) format('woff2');
      unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    @font-face {
      font-family: 'EB Garamond';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGUmQSNjdsmc35JDF1K5GR6SDk_YAPIlWk.woff2) format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
      font-family: 'EB Garamond';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGUmQSNjdsmc35JDF1K5GR7SDk_YAPIlWk.woff2) format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
      font-family: 'EB Garamond';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGUmQSNjdsmc35JDF1K5GR1SDk_YAPI.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    @font-face {
      font-family: 'EB Garamond';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGUmQSNjdsmc35JDF1K5GR4SDk_YAPIlWk.woff2) format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @font-face {
      font-family: 'EB Garamond';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGUmQSNjdsmc35JDF1K5GRxSDk_YAPIlWk.woff2) format('woff2');
      unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    @font-face {
      font-family: 'EB Garamond';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGUmQSNjdsmc35JDF1K5GR5SDk_YAPIlWk.woff2) format('woff2');
      unicode-range: U+1F00-1FFF;
    }
    /* greek */
    @font-face {
      font-family: 'EB Garamond';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGUmQSNjdsmc35JDF1K5GR2SDk_YAPIlWk.woff2) format('woff2');
      unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    @font-face {
      font-family: 'EB Garamond';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGUmQSNjdsmc35JDF1K5GR6SDk_YAPIlWk.woff2) format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
      font-family: 'EB Garamond';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGUmQSNjdsmc35JDF1K5GR7SDk_YAPIlWk.woff2) format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
      font-family: 'EB Garamond';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGUmQSNjdsmc35JDF1K5GR1SDk_YAPI.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
  .imgs{
      width: 100%;
  }
  iframe{
      width: 100%;
      height: 98%;
  }
  textarea{
      font : 1rem;
      width: 50%;
      height: 30%;
  }
  #tbs{
      font-family:'EB Garamond';
      font-size: 3rem;
      width: 100%;
      height: 80%;
      text-align: center;
  }
  
  .ani {
      animation-duration: 3s;
      animation-name: slidein;
    }
    
    @keyframes slidein {
      from {
        margin-left: 100%;
        width: 300%
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
    }
    a:link{text-decoration: none; color: #333333}
    a:visited{text-decoration: none; color:#333333}
    a:hover{
      text-decoration: none; color: gray;
      }
    a:active{text-decoration: none; color:gray;}
  #menu td:hover{
      transform: translateX(2rem);
      transition-duration: 0.5s;
      font-size: 3rem;
  }
  
  #contact li{
      font:lighter 2rem 'EB Garamond', cursive;
  }
  
  /* for desktop */
  @media(min-width: 1500px){
      .container{
          display:grid; 
          grid-template-columns:1fr 1fr;
      }
      .col3container{
          display:grid; 
          grid-template-columns:1fr 1fr 1fr;
      }
      .content{
          font-family:'EB Garamond';
          font-size: 3rem;
      }
      h1{font:lighter 5rem 'EB Garamond', cursive;}
      h2{
          font:lighter 4rem 'EB Garamond', cursive;
      }
      h3{font:lighter 3rem 'EB Garamond', cursive;}
      h4{font:lighter 2rem 'EB Garamond', cursive;}
      li {list-style-type: none;}
      
      .icon{width:3rem; position:relative; top:0.5rem}
      #ftrcontent{
          color : gray;
          text-align: center;
      }
      #menu{
          font:lighter 2rem 'EB Garamond', cursive;  
      }
      nav {
          position : fixed;
          top : 0;
          width : 100%;
      }
      body{
          padding-top: 3rem;
      }
  
  }
  
  /* for mobile */
  @media(max-width: 600px){
      h1{font:lighter 5rem 'EB Garamond', cursive;}
      h2{font:lighter 4rem 'EB Garamond', cursive;}
      h3{font:lighter 3rem 'EB Garamond', cursive;}
      h4{font:lighter 2rem 'EB Garamond', cursive;}
      li {list-style-type: none;}
      #menu{font:lighter 2rem 'EB Garamond', cursive;}
      .icon{width:3rem; position:relative; top:0.5rem}
      .content{
          font-family:'EB Garamond', cursive;
          font-size: 2rem;
      }
      #ftrcontent{
          color : gray;
          text-align: center;
      }
  
      nav {
          position : fixed;
          top : 0;
          width : 100%;
          height: auto;  
          background-color: white;
      }
      body{
          padding-top: 3rem;
      }
  }
  
  /* for tablet or small laptop */
  h1{font:lighter 5rem 'EB Garamond', cursive;}
  h2{font:lighter 4rem 'EB Garamond', cursive;}
  h3{font:lighter 3rem 'EB Garamond', cursive;}
  h4{font:lighter 2rem 'EB Garamond', cursive;}
  li {list-style-type: none;}
  #menu{font:lighter 2rem 'EB Garamond', cursive;}
  .icon{width:3rem; position:relative; top:0.5rem}
  .content{
      font-family:'EB Garamond', cursive;
      font-size: 2rem;
  }
  #ftrcontent{
      color : gray;
      text-align: center;
  }
  
  nav {
      position : fixed;
      top : 0;
      width : 100%;
      background-color: white;
  }
  body{
      padding-top: 3rem;
  }
  